.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
table,
th,
tr,
td {
  border: 1px double black;
}
th,
td {
  padding: 1em;
  margin: 0.5em;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body main .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px groove purple;
}
body main .column img {
  max-width: 200px;
  margin: 1em;
}
