<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Choose your own adventure game</title>
</head>
<body>
    <header>
        <h1>Heading to the Garage</h1>
        <nav>
            {% block menu %}
                {% include 'menu.html' %}
            {% endblock menu %}
        </nav>
    </header>
    <main>
        <h1>You chose to head to the Garage.</h1>
        <h2>While there you get a text from  {{user.firstName}} stating that {{user.altPronoun}} had something come up and {{user.altPronoun}} won't be home for some time.  So you exit the garage and head back home.</h2>
        <h1>Thank you for playing!</h1>
    </main>
</body>
</html>