<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Week 4 Session 2</title>
</head>
<body>
    <header>
        <h1>Welcome</h1>
        <nav>
            {% block menu %}
                {% include 'menu.html' %}
            {% endblock menu %}
        </nav>
    </header>
    <main>
        
        <h1>Here are all our Foods</h1>
        <table>
            <tr>
                <th>Meal Name</th>
            </tr>
            {% for food in foods %}
                <tr>
                    <td>{{food.meal}}</td>
                </tr>
            {% endfor %}
        </table>
        {% if session['drink'] %}
            <h2>{{session['firstName']}} Created a drink called {{session['drink']}}</h2>
        {% else %}
            <h2>{{session['firstName']}} has not created a drink yet</h2>
        {% endif %}
    </main>
</body>
</html>