<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Our Flask HTML doc</title>
</head>
<body>
    <h1>What's cooking class?</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/parks">Parks</a>
        <a href="/clear"><button>Clear</button></a>
    </nav>
    <main>
        <h1>{{session['park']}}</h1>
        {% for a in animals %}
            <div class="animals">
                <h3>{{a.species}}</h3>
                <h3>{{a.animalName}}</h3>
            </div>
        {% endfor %}
    </main>
</body>
</html>