<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets App</title>
</head>
<body>
    <header>
        <h1>Welcome, {{session['user']}}</h1>
        <button><a href="/logout/">Logout</a></button>
    </header>
    <main>
        <form action="/createPet/" method='post'>
            <section>
                <label for="petName"></label>
                <input type="text" name="petName">
            </section>
            <button>Submit</button>
        </form>
        <h2>History of Pet Names</h2>
        <div class="box">
            <h3>You just entered: {{session.petName}}</h3>
            <ul>
                {% for p in petList %}
                    <li>{{p}}</li>
                {% endfor %}
            </ul>
        </div>
        <button><a href="/reset/">Reset Pets</a></button>
    </main>
</body>
</html>